* {
    margin: 0;
}

#main-header {
    height: 10vh;
    background-color: skyblue;
    background-image: url("img/pattern.png")
}

#logo {
    width: 150px;
    margin-top: 5vh;
    margin-left: 1vw;
}